# Server Port
PORT=3001

# Neon PostgreSQL Database URI (Uncomment and replace with your Neon database string)
# DATABASE_URL=postgres://user:password@ep-example-123456.us-east-2.aws.neon.tech/neondb?sslmode=require

# MongoDB Atlas URI (Uncomment and replace with your MongoDB string)
# MONGODB_URI=mongodb+srv://username:password@cluster0.example.mongodb.net/dayflow?retryWrites=true&w=majority
